$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'compass';
@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
  max-width: 600px;
}

.plugin {
  margin: 10px 0 10px;
  padding: 20px 0 10px;
  border-top: 1px solid #eee;
  pre {
    @include transition(opacity 200ms);
    @include opacity(0.5);
  }
  &:hover {
    pre {
      @include opacity(1);
    }
  }
}

#install-boiler {
  pre {
    @include border-radius(0);
  }
}

#footer {
  margin: 30px 0;
  font-size: 13px;
  color: #aaa;
}

.sort-options {
  @include clearfix;
}
.sort {
  display: inline-block;
  padding: 0 5px;
  > span {
    span {
      display: none;
      color: $gray-light;
    }
  }
  &.asc, &.desc {
    font-weight: bold;
  }
  &.asc {
    > span {
      span {
        display: none;
        + span {
          display: inline;
        }
      }
    }
  }
  &.desc {
    > span {
      span {
        display: inline;
        + span {
          display: none;
        }
      }
    }
  }
}
