<div class="form-group">
  <input type="search" placeholder="Search {{count}} plugins..." class="form-control search" value="{{value}}" name="search" autofocus>
</div>
<p class="sort-options">
  <span class="text-muted">Sort by: </span>

  <a href="#" class="sort desc" data-sort="updated">
    <span>
      updated
      <span>(newest)</span>
      <span>(oldest)</span>
    </span>
  </a href="#">
  <a href="#" class="sort" data-sort="name">
    <span>
      name
      <span>(z-a)</span>
      <span>(a-z)</span>
    </span>
  </a href="#">
  <a href="#" class="sort" data-sort="stars">
    <span>
      stars
      <span>(more)</span>
      <span>(fewer)</span>
    </span>
  </a href="#">
</p>
